<?xml version="1.0" encoding="utf-8"?>
<config>
  <database>
    <mongo>
      <connection_string>mongodb://localhost:27017</connection_string>
      <database>bowling_games</database>
      <collection>game</collection>
      <max_documents_limit>42</max_documents_limit>
    </mongo>
  </database>
</config>